var.set("url_path", req.url);

# cfg global cache-rule's
{{
   my $index = 0;
   foreach my $rule (@cache_key_rule) {
      $index++;
      my $key = vcl_br("key_${index}",$rule->{key});
      $OUT .= "if (key_${index}.match(req.url)) { var.set(\"url_path\", $key); }\n";
   }
}}

# cfg proxy cache-key-rule's
{{
   my $pindex = "a";
   foreach my $proxy (@proxy) {
      next unless exists $proxy->{cache_key_rule};
      my $index = 0;
      $OUT .= "if (req.http.Host == \"$proxy->{hostname}\") {\n";  
      foreach my $rule (@{ $proxy->{cache_key_rule} }) {
         $index++;
         my $key = vcl_br("proxy_key_${pindex}${index}",$rule->{key});
         $OUT .= "   if (proxy_key_${pindex}${index}.match(req.url)) { var.set(\"url_path\", $key); }\n";
      }
      $OUT .= "}\n";
	  $pindex++;
   }
}}

hash_data(var.get("url_path"));