
# cfg proxy cache-rule's
{{
   my $pindex = "a";
   foreach my $proxy (@proxy) {
      next unless exists $proxy->{cache_rule};
      my $index = 0;
      $OUT .= "if (bereq.http.Host == \"$proxy->{hostname}\") {\n";  
      foreach my $rule (@{ $proxy->{cache_rule} }) {
	     $index++;
         if (exists $rule->{url}) {
            $OUT .= "  if (proxy_url_${pindex}${index}.match(bereq.url)) { set beresp.ttl = $rule->{ttl}; return(deliver); }\n";
         }
	     if (exists $rule->{content_type}) {
            $OUT .= "  if (proxy_ct_${pindex}${index}.match(beresp.http.Content-Type)) { set beresp.ttl = $rule->{ttl}; return(deliver); }\n";
         }
      }
      $OUT .= "}\n";
	  $pindex++;
   }
}}

# cfg global cache-rule's
{{
   my $index = 0;
   foreach my $rule (@cache_rule) {
      $index++;
      if (exists $rule->{url}) {
         $OUT .= "if (url_${index}.match(bereq.url)) { set beresp.ttl = $rule->{ttl}; return(deliver); }\n";
      }
	  if (exists $rule->{content_type}) {
         $OUT .= "if (ct_${index}.match(beresp.http.Content-Type)) { set beresp.ttl = $rule->{ttl}; return(deliver); }\n";
      }
   }
}}

