new vimeo_range_regex = re.regex("^([^\?]*\.mp4)\?.*(range=\d+-\d+).*$");
# cfg global cache-rule's
{{ my $index = 0; foreach my $rule (@cache_rule) { $index++;
      if (exists $rule->{url}) {
         $OUT .= "new url_$index = re.regex(\"$rule->{url}\");\n";
      }
	  if (exists $rule->{content_type}) {
         $OUT .= "new ct_$index = re.regex(\"$rule->{content_type}\");\n";
      }
} }}
# cfg global cache-key-rule's
{{ my $index = 0; foreach my $rule (@cache_key_rule) { $index++;
      $OUT .= "new key_$index = re.regex(\"$rule->{key}\");\n";
} }}
# cfg proxy cache-rule's
{{ my $pindex = "a"; foreach my $proxy (@proxy) { next unless exists $proxy->{cache_rule};
   my $index = 0; foreach my $rule (@{ $proxy->{cache_rule} }) { $index++;
   if (exists $rule->{url}) {
      $OUT .= "\nnew proxy_url_${pindex}${index} = re.regex(\"$rule->{url}\");";
   }
   if (exists $rule->{content_type}) {
      $OUT .= "\nnew proxy_ct_${pindex}${index} = re.regex(\"$rule->{content_type}\");\n";
   }
} $pindex++; } }}
# cfg proxy cache-key-rule's
{{ my $pindex = "a"; foreach my $proxy (@proxy) {  next unless exists $proxy->{cache_key_rule};
   my $index = 0; foreach my $rule (@{ $proxy->{cache_key_rule} }) { $index++;
      $OUT .= "new proxy_key_${pindex}${index} = re.regex(\"$rule->{url}\");\n";
} $pindex++; } }}
new manifest_path_regex = re.regex("(\.mpd|\.m3u8|\(format=m3u8-aapl\))$");
new segment_path_regex = re.regex("\.(ts|mp3|mp4|webvtt|acc)$");
new media_path_regex = re.regex("(\.mpd|\.m3u8|\(format=m3u8-aapl\)|\.ts|\.mp3|\.mp4|\.webvtt|\.acc)");
